/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.Registration, .Login {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    text-align: right;
    margin: 0;
}

form ul {
    text-align: right;
}

ul {
    list-style-type: none;
}

span {
    color: red;
}

.logged {
    padding-top: 8px;
    color: white;
    text-align: right;
    margin-left: 100px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

textarea {
    resize: none;
}

body
{
    text-align: center;
}

.board
{
    width: 500px;
    height: 500px;
    display: inline-block;
}

.gridRow
{
    height: 50px;
}

.gridPart
{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.empty
{
    background-color: blue;
}

.player
{
    background-color: red;
}

.takenSpot1
{
    background-color: green;
}

.takenSpot2
{
    background-color: orange;
}

.enemyBoard .gridPart
{
    width: 25px;
    height: 25px;
}

.gamechat, .gameinfo{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}