
@{
    ViewData["Title"] = "Finale";
}
<script src="~/js/GeneticAlgorithm.js"></script>
<script src="~/js/Finale.js"></script>
<h1>Finale</h1>
<div class="board"></div>
<div class="enemyBoard"></div>
<h3 class="winnner"></h3>

