<script src="~/js/GeneticAlgorithm.js"></script>
<script src="~/js/Game.js"></script>
<div class="board"></div>
<p class="victory"></p>
<button class="runGen" onclick="runGen()">Run Generation</button>
<button class="setPreSet" onclick="setPreSet()">Set PreSet MoveSet</button>
<div class="enemyBoard"></div>
<button onclick="runEnemy()">Run Enemy AI</button>
